body {
    background-color: black;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.login {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    text-align: center;
}
